body {
  font-family: Arial;
  background:#1c2526;
  color:white;
}

header {
  background:#111;
  padding:10px;
  color:#c3a45e;
}

input {
  display:block;
  margin:5px 0;
  padding:8px;
}

button {
  padding:8px;
  margin:5px;
  background:#c3a45e;
  border:none;
  cursor:pointer;
}

.tabs {
  margin-bottom:10px;
}

.tab-content {
  display:none;
}

.tab-content.active {
  display:block;
}
